// /* Global's variables déclarations
// ----------------------------------*/
//1. screen
//-------------------------------------
//2. color
//-------------------------------------
//3. font
//-------------------------------------


//1. screen
//-------------------------------------

$global-min-width: 280px !default;
$global-max-width: 1440px !default;
// Media Query Ranges
$screen-smaller-width: 420px !default;
$screen-small-width: 640px !default;
$screen-medium-width: 800px !default;
$screen-normal-width: 1024px !default;
$screen-large-width: 1280px !default;
$screen-big-width: 1500px !default;

$global-z-index: 1000 !default;

//2. color
//-------------------------------------

$white-color: #fff !default;
$red-color: #f00 !default;
$yellow-color: yellow !default;
$light-color: #f2f2f2 !default;
$black-color: #1a1a1a !default;
$dark-color: #2d2d2d !default;

$focus-color: #ff6600 !default;
$hover-color: $focus-color !default;
$active-color: $focus-color !default;
$select-color: $focus-color !default;
$disable-color: #d0d0d0 !default;
$warring-color: $yellow-color !default;
$success-color: $focus-color !default;
$error-color: $red-color !default;

$border-color: $dark-color !default;
$default-bg-color: $white-color !default;
$default-txt-color: $black-color !default;
$select-txt-color: $white-color !default;

$shadow-color: rgba(103, 103, 103, 0.7) !default;

//3. font
//-------------------------------------

$default-font-family: "DejaVu Sans", _DejaVu_Sans, verdana, OpenSans, sans-serif ;
$item-font-family: Ubuntu, _Ubuntu, $default-font-family ;
$quote-font-family: Purisa, i_Purisa, "Lucida Handwriting", "Comic Sans Ms" ;


// /* Global's mixins declarations
// --------------------------------*/

@mixin button-bg-look ($btn-color, $txt-color) {

    color: $txt-color ;
    background-color: $btn-color ;
    background-image: linear-gradient(to top, $btn-color, lighten($btn-color,10%), lighten($btn-color,15%)) ;
}

@mixin global-bg-look ($bg-color:$default-bg-color, $txt-color:$default-txt-color) {

    color: #{$txt-color} ;
    background-color: #{$bg-color} ; 
    //background-image: linear-gradient(to top, $bg-color, lighten($bg-color,5%), lighten($bg-color,10%)) ;
}

@mixin style-focus-of ($elt-type:default) {
    
    @if $elt-type == "box" {
        outline: 0 ;
        box-shadow: 0px 1px 5px $focus-color ; 
        
    }@else if $elt-type == "text" {
        outline: 0 ;
        text-shadow: 0px 0px 3px $focus-color ;   
        
    }@else if $elt-type == "link" {
        outline: 0 ;
        text-decoration: underline ;   
        
    }@else if $elt-type == "none" {
        outline: 0 ;
        
    }@else {
        outline: thin solid $focus-color ;
    }
}

//this can only be use if the associated element to apply with is resizable ( type: `block`, `inline-block`, ...)
@mixin style-overflow-of ($elt-mode:default) {
    
    @if ($elt-mode == "line") {
        white-space: nowrap ;
        overflow: hidden ;
        text-overflow: ellipsis ;
        
    }@else if ($elt-mode == "none") {
        white-space: normal ;
        overflow: visible ;
        text-overflow: clip;
        
    }@else { //for default or box mode
        //@TODO have to test if the ellipsis are showing with this case of text-overflow.
        white-space: normal ;
        overflow: hidden ;
        text-overflow: ellipsis ;
    }
}


// /* Particular's variables déclarations
// --------------------------------------*/
//1.----------------------------
//For some navbar's properties
//2.----------------------------
//For some collections's properties
//3.----------------------------
//For some grid's properties


//1.----------------------------
//For some navbar's properties

$navbar-border: 0.15em solid $hover-color ;
$navbar-active-border: 0.25em solid $select-color ;
$navbar-padding: 0.5em ;
$navbar-margin: 0.5em ;
$navbar-dsm-margin: 0.3em ; //navbar default submenu margin

$navbar-dsm-width: 10em ; //navbar default submenu width
$navbar-dsm-position: 1.9em ; //navbar default submenu position

$menu-font-size: 1.05em ;
$menu-sub-font-size: 1.0em ; //default submenu font size
$menu-max-width: 200px ;


//2.----------------------------
//For some collections's properties

$block-tb-padding: 1.3em ; //top-bottom padding size
$block-lr-padding: 0.9em ; //left-right padding size
$block-stb-padding: $block-tb-padding + 0.2 ; //shadow-style's top-bottom padding size
$block-slr-padding: $block-lr-padding ; //shadow-style's left-right padding size
$block-rlr-padding: $block-lr-padding + 0.4 ; //radius-style's left-right padding size

$block-s-shadow-color: lighten( $shadow-color, 15%) ; //shadow-style's shadow color ;

$block-r-radius: 3em ; //radius-style's border radius ;


//3.----------------------------
//For some grid's properties

//structured as target-id : target-width 
$media-groups: ("x": "any", 
    "p": $screen-smaller-width, "s": $screen-small-width,
    "m": $screen-medium-width,  "n": $screen-normal-width,
    "l": $screen-large-width,   "b": $screen-big-width
) ;

$col-groups: (2, 3, 4, 5, 6, 8, 10, 12) !default;

$grid-pushes: true !default;
$grid-pulls: true !default;
$grid-offsets: true !default;
$grid-nones: true !default;
$grid-hiddens: true !default;

$inl-gutter-width: 1em !default; // internal column's gutter
$enl-gutter-width: 0/100 !default; //external column's gutter; it's take in [0,1]

$grid-namespace: "i-grid" !default;
