# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore

node_modules/
src/i_themes/default/_grids (copie).scss
tests/checkbox.html
bower_components/jeet
