# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore

node_modules/
tests/checkbox.html
bower_components/toast/css/
next_README.md
/.sass-cache/
/src/sass/animate/
/src/sass/hover/
/src/sass/_i_animation.scss
/src/sass/features/animations/
/src/sass/features/_animations.scss
