/*
* For default theme. Here is the style definition of border design for selection in navbar.
__________________________________________________________________________________________*/

.navbar {

    @if index( $navbar-border-aspect, 'look-b') != null {

        &.look-b { //border style for selection

            >ul li {

                &#current-page, &.active-item {

                    border: $navbar-active-border ;
                }

                &:hover {

                    border: $navbar-border ;
                }
            }
        }  
    }

    @if index( $navbar-border-aspect, 'look-bt') != null {

        &.look-bt { //border-top style for selection

            >ul li {

                &#current-page, &.active-item {

                    border-top: $navbar-active-border ;  
                }

                &:hover {

                    border-top: $navbar-border ;  
                }
            }
        } 
    }

    @if index( $navbar-border-aspect, 'look-bb') != null {

        &.look-bb { //border-bottom style for selection

            &>ul>li>a {

                padding-left: 0.1em ;
                padding-right: 0.1em ;
            }

            >ul li {

                &#current-page, &.active-item {

                    border-bottom: $navbar-active-border ; 
                }

                &:hover {

                    border-bottom: $navbar-border ; 
                }
            }    
        }
    }

    @if index( $navbar-border-aspect, 'look-bl') != null {

        &.look-bl { //border-left style for selection

            >ul li {

                &#current-page, &.active-item {

                    border-left: $navbar-active-border ;
                }

                &:hover {

                    border-left: $navbar-border ;   
                }
            }
        } 
    }
    
    @if index( $navbar-border-aspect, 'look-br') != null {

        &.look-br { //border-right style for selection

            >ul li {

                &#current-page, &.active-item {

                    border-right: $navbar-active-border ; 
                }

                &:hover {

                    border-right: $navbar-border ;
                }
            }
        }
    }     
}