/*
* For default theme. Here is the style definition of some extras features.
__________________________________________________________________________

* @NOTE definitions here are for global purpose; however there can be a paticular style's definitions associated to other feature.
* For an example with `.unfocusable` option, here is the global style, but for navbar items, 
*there is additionnal's defintion set by `.navbar >ul li.unfocusable` on the considered source file.
*/

//genarate display class syntax for elements (disable display or visibility) depending of media.
//( class `hide-x`, `hide-s`, ..., `hide-b` and `none-x`, ..., `none-b` )
@mixin gen-media-disp-from ($target-id) {

    @if ($elt-nones) {

        .none-#{$target-id} {

            display: none;
        }
    } // end nones
    @if ($elt-hides) {

        .hide-#{$target-id} {

            visibility: hidden;
        }
    } // end hiddens
}
// For each of our target media groups...
@each $target-id, $target-width in $media-groups {

    @if $target-width == "any" {

        @include gen-media-disp-from ($target-id) ;
    }
    @else {

        @media only screen and (max-width : #{$target-width}) {

            @include gen-media-disp-from ($target-id) ;
        }
    } // end @else
} // end @each


.fixed {

    position: fixed ;
    z-index: $global-z-index / 100 ;
}

.s-circle { //@TODO move it to extra geometric's styles features
    
    @extend %circle ;
}