/*
 * For default theme. Here is the style definition of some custom block like "main-block", ...
______________________________________________________________________________________________*/


#i-main-block {
    
    min-width: $global-min-width;
    max-width: $global-max-width;
    width: 100%;
    margin: -5px auto 0px auto ;
    position: relative;
}


body {
    
    @include global-bg-look() ;
}

