/*
* For default theme. Here is the style definition of border-radius design on left diagonal for collections, ...
_______________________________________________________________________________________________________________*/


.i-block.s-rad-ld { // partial (left-top, right-bottom) border-radius with box's style 

    padding-left: $block-rlr-padding ;
    padding-right: $block-rlr-padding ;
    border-radius: $block-r-radius 0em ;
}
