/*
* For default theme. Here is the style definition of border-radius design for collections, ...
______________________________________________________________________________________________*/


.i-block.s-rad { // full border-radius with box's style
    
    border-radius: $block-r-radius ;
    padding-left: $block-rlr-padding ;
    padding-right: $block-rlr-padding ;
}
