/*
* For default theme. Here is the style definition of border-radius design on right diagonal for collections, ...
________________________________________________________________________________________________________________*/


.i-block.s-rad-rd { // partial (right-top, left-bottom) border-radius with box's style 

    padding-left: $block-rlr-padding ;
    padding-right: $block-rlr-padding ;
    border-radius: 0em $block-r-radius ;
}
