/*
* For default theme. Here is the style definition of border-radius design on left for collections, ...
______________________________________________________________________________________________________*/


.i-block.s-rad-l { // partial (left-top, left-bottom) border-radius with box's style 

    padding-left: $block-rlr-padding ;
    padding-right: $block-rlr-padding ;
    border-radius: 0em $block-r-radius $block-r-radius 0em ;
}
