/*
* For default theme. Here is the style definition of all iui custom table features.
____________________________________________________________________________________*/


table {
    
    th, tr {

        &.active-item, &#current-item {
            
            &, td:not( .active-item) {
                
                background: $active-color !important;
                color: $select-txt-color !important;
            }
        }
    } 

    td.active-item, td#current-item {

        @include global-bg-look( $table-cel-a-colors) ;
    }
    
    @if index($table-aspects, 's-cel') != null {

        &.s-cel { //cellule-style for cellule selection

            tr td:nth-child( odd) {

                //@TODO verify `.unfocusable` style priority on helpers features since this (:not) will not work on old browser.
                &:not( .unfocusable), &:not( .unfocusable) {

                    @include global-bg-look( $table-cel-o-colors) ;
                }
            }
        }
    }
    
    @if index($table-aspects, 's-line') != null {

        &.s-line { //line-style for line selection

            //@TODO verify `.unfocusable` style priority on helpers features since this (:not) will not work on old browser.
            tr:nth-child( odd) {

                @include global-bg-look( $table-line-o-colors) ;
            }
        }
    }
    
    @if index($table-aspects, 'hover-cel') != null {

        &.hover-cel { //cellule-style for cellule selection

            tr:not( .unfocusable) td {

                //@TODO verify `.unfocusable` implementation on helpers features since this (:not) will not work on old browser.
                &:hover:not( .unfocusable), &:not( .unfocusable).hover {

                    @include global-bg-look( $table-cel-h-colors) ;
                }
            }
        }
    }
    
    @if index($table-aspects, 'hover-line') != null {

        &.hover-line { //line-style for line selection

            //@TODO verify `.unfocusable` style priority on helpers features since this (:not) will not work on old browser.
            tr:hover:not( .unfocusable), tr:not( .unfocusable).hover {

                @include global-bg-look( $table-line-h-colors) ;
            }
        }
    }
    
    @if index($table-aspects, 'h-border') != null {

        &.h-border { // horizontal border

            td, th {

                border: none;
            }

            tr, th {

                border-bottom: 1px solid lighten( $border-color, 50%) ;
            }
        }
    }
    
    @if index($table-aspects, 'v-border') != null {

        &.v-border { // vertical border

            td, th {

                border: none ;
                border-left: 1px solid lighten( $border-color, 50%) ;
                border-right: 1px solid lighten( $border-color, 50%) ;
            }

            tr:last-of-type {

                border-bottom: 1px solid lighten( $border-color, 50%) ;
            }
        }
    }
    
    @if index($table-aspects, 'no-border') != null {

        &.no-border {

            th {

                border-left: none ;
                border-right: none ;
                border-top: none ;
            }

            tr, td {

                border: none ; 
            }
        }
    }
}