/*
* For default theme. Here is the style definition of `badge`
______________________________________________________________*/

.badge {
    
    display: inline-block ;
    font-size: 0.8em ;
    font-family: $item-font-family ;
    border-radius: 3px ;
    min-width: 30px ;
    padding: 2px 3px ;
    text-align: center;
    border: 1px solid $select-txt-color ;
    
    @include global-bg-look( $light-color) ;
    
    
    @if $badge-new {
        
        &.s-new {
            
            @include global-bg-look( $badge-new-color, $select-txt-color) ;
            border: 1px solid $select-txt-color ;
        }
    }
    
    @if $badge-old {
        
        &.s-old {
            
            @include global-bg-look( $badge-old-color) ;
            border: 1px solid $select-txt-color ;
        }
    }
    
    @if $badge-hey {
        
        &.s-hey {
            
            @include global-bg-look( $badge-hey-color, $select-txt-color) ;
            border: 1px solid $select-txt-color ;
        }
    }
}